In [1]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata
from passwords import *

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.ny.gov", API_TOKEN)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.ny.gov,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("wujg-7c2s", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [2]:
results_df

,transit_timestamp,transit_mode,station_complex_id,station_complex,borough,payment_method,fare_class_category,ridership,transfers,latitude,longitude,georeference,:@computed_region_kjdx_g34t,:@computed_region_yamh_8v7k,:@computed_region_wbg7_3whc
0,2023-10-01T08:00:00.000,subway,200,"Beach 90 St (A,S)",Queens,metrocard,Metrocard - Unlimited 7-Day,6.0,0.0,40.588036,-73.813644,"{'type': 'Point', 'coordinates': [-73.813644, ...",2137,196,1029
1,2023-10-01T09:00:00.000,subway,194,111 St (A),Queens,metrocard,Metrocard - Unlimited 7-Day,6.0,0.0,40.68433,-73.83216,"{'type': 'Point', 'coordinates': [-73.83216, 4...",2137,196,1166
2,2023-10-01T01:00:00.000,subway,306,125 St (1),Manhattan,metrocard,Metrocard - Unlimited 30-Day,1.0,0.0,40.815582,-73.958374,"{'type': 'Point', 'coordinates': [-73.958374, ...",2095,749,754
3,2023-10-01T08:00:00.000,subway,1,"Astoria-Ditmars Blvd (N,W)",Queens,metrocard,Metrocard - Seniors & Disability,6.0,0.0,40.775036,-73.91203,"{'type': 'Point', 'coordinates': [-73.91203, 4...",2137,196,877
4,2023-10-01T16:00:00.000,subway,358,"Newkirk Av-Little Haiti (2,5)",Brooklyn,metrocard,Metrocard - Seniors & Disability,8.0,0.0,40.63997,-73.94841,"{'type': 'Point', 'coordinates': [-73.94841, 4...",2090,894,888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2023-10-01T12:00:00.000,subway,436,Harlem-148 St (3),Manhattan,metrocard,Metrocard - Unlimited 30-Day,7.0,0.0,40.82388,-73.93647,"{'type': 'Point', 'coordinates': [-73.93647, 4...",2095,749,798
1996,2023-10-01T22:00:00.000,subway,359,"Flatbush Av-Brooklyn College (2,5)",Brooklyn,metrocard,Metrocard - Unlimited 7-Day,12.0,0.0,40.632835,-73.94764,"{'type': 'Point', 'coordinates': [-73.94764, 4...",2090,894,888
1997,2023-10-01T18:00:00.000,subway,30,Prospect Av (R),Brooklyn,metrocard,Metrocard - Seniors & Disability,4.0,0.0,40.665413,-73.992874,"{'type': 'Point', 'coordinates': [-73.992874, ...",2090,894,893
1998,2023-10-01T02:00:00.000,subway,433,"Jackson Av (2,5)",Bronx,metrocard,Metrocard - Unlimited 7-Day,2.0,0.0,40.81649,-73.90781,"{'type': 'Point', 'coordinates': [-73.90781, 4...",2032,307,651
1999,2023-10-01T09:00:00.000,subway,208,Beach 25 St (A),Queens,metrocard,Metrocard - Unlimited 7-Day,5.0,0.0,40.600067,-73.76135,"{'type': 'Point', 'coordinates': [-73.76135, 4...",2137,196,1027

In [5]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   transit_timestamp            2000 non-null   object
 1   transit_mode                 2000 non-null   object
 2   station_complex_id           2000 non-null   object
 3   station_complex              2000 non-null   object
 4   borough                      2000 non-null   object
 5   payment_method               2000 non-null   object
 6   fare_class_category          2000 non-null   object
 7   ridership                    2000 non-null   object
 8   transfers                    2000 non-null   object
 9   latitude                     2000 non-null   object
 10  longitude                    2000 non-null   object
 11  georeference                 2000 non-null   object
 12  :@computed_region_kjdx_g34t  2000 non-null   object
 13  :@computed_region_yamh_8v7k  2000 non-null   object
 14  :@computed_region_wbg7_3whc  2000 non-null   object
dtypes: object(15)
memory usage: 234.5+ KB

In [6]:
results_df.head()

,transit_timestamp,transit_mode,station_complex_id,station_complex,borough,payment_method,fare_class_category,ridership,transfers,latitude,longitude,georeference,:@computed_region_kjdx_g34t,:@computed_region_yamh_8v7k,:@computed_region_wbg7_3whc
0,2023-10-01T08:00:00.000,subway,200,"Beach 90 St (A,S)",Queens,metrocard,Metrocard - Unlimited 7-Day,6.0,0.0,40.588036,-73.813644,"{'type': 'Point', 'coordinates': [-73.813644, ...",2137,196,1029
1,2023-10-01T09:00:00.000,subway,194,111 St (A),Queens,metrocard,Metrocard - Unlimited 7-Day,6.0,0.0,40.68433,-73.83216,"{'type': 'Point', 'coordinates': [-73.83216, 4...",2137,196,1166
2,2023-10-01T01:00:00.000,subway,306,125 St (1),Manhattan,metrocard,Metrocard - Unlimited 30-Day,1.0,0.0,40.815582,-73.958374,"{'type': 'Point', 'coordinates': [-73.958374, ...",2095,749,754
3,2023-10-01T08:00:00.000,subway,1,"Astoria-Ditmars Blvd (N,W)",Queens,metrocard,Metrocard - Seniors & Disability,6.0,0.0,40.775036,-73.91203,"{'type': 'Point', 'coordinates': [-73.91203, 4...",2137,196,877
4,2023-10-01T16:00:00.000,subway,358,"Newkirk Av-Little Haiti (2,5)",Brooklyn,metrocard,Metrocard - Seniors & Disability,8.0,0.0,40.63997,-73.94841,"{'type': 'Point', 'coordinates': [-73.94841, 4...",2090,894,888

In [7]:
relevant_columns = ["fare_class_category", "borough", "station_complex_id"]
results_df[relevant_columns]

                   fare_class_category    borough station_complex_id
0          Metrocard - Unlimited 7-Day     Queens                200
1          Metrocard - Unlimited 7-Day     Queens                194
2         Metrocard - Unlimited 30-Day  Manhattan                306
3     Metrocard - Seniors & Disability     Queens                  1
4     Metrocard - Seniors & Disability   Brooklyn                358
...                                ...        ...                ...
1995      Metrocard - Unlimited 30-Day  Manhattan                436
1996       Metrocard - Unlimited 7-Day   Brooklyn                359
1997  Metrocard - Seniors & Disability   Brooklyn                 30
1998       Metrocard - Unlimited 7-Day      Bronx                433
1999       Metrocard - Unlimited 7-Day     Queens                208

[2000 rows x 3 columns]